{{- if and .Values.tailnetServices.enabled (gt (len .Values.tailnetServices.services) 0) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "headscale.fullname" . }}-tailnet-proxy
  labels:
    {{- include "headscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: tailnet-proxy
data:
  envoy.yaml: |
    static_resources:
      listeners:
      {{- $portMap := dict }}
      {{- range $svc := .Values.tailnetServices.services }}
      {{- range $port := $svc.ports }}
      {{- $key := printf "%d" (int $port.port) }}
      {{- $entry := dict "svcName" $svc.name "svcHostname" $svc.hostname "portName" $port.name "portPort" $port.port "portTargetPort" ($port.targetPort | default $port.port) "svcTargetHost" $svc.targetHost }}
      {{- if hasKey $portMap $key }}
      {{- $_ := set $portMap $key (append (index $portMap $key) $entry) }}
      {{- else }}
      {{- $_ := set $portMap $key (list $entry) }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- range $portStr := keys $portMap | sortAlpha }}
      {{- $entries := index $portMap $portStr }}
      {{- if gt (len $entries) 1 }}
        - name: tls-passthrough-{{ $portStr }}
          address:
            socket_address:
              address: 0.0.0.0
              port_value: {{ $portStr }}
          listener_filters:
            - name: envoy.filters.listener.tls_inspector
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.listener.tls_inspector.v3.TlsInspector
          filter_chains:
          {{- range $entry := $entries }}
            - filter_chain_match:
                server_names:
                  - "{{ $entry.svcHostname }}"
              filters:
                - name: envoy.filters.network.tcp_proxy
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
                    stat_prefix: {{ $entry.svcName }}-{{ $entry.portName }}
                    cluster: {{ $entry.svcName }}-{{ $entry.portName }}
          {{- end }}
      {{- else }}
      {{- $entry := index $entries 0 }}
        - name: {{ $entry.svcName }}-{{ $entry.portName }}
          address:
            socket_address:
              address: 0.0.0.0
              port_value: {{ $entry.portPort }}
          filter_chains:
            - filters:
                - name: envoy.filters.network.tcp_proxy
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
                    stat_prefix: {{ $entry.svcName }}-{{ $entry.portName }}
                    cluster: {{ $entry.svcName }}-{{ $entry.portName }}
      {{- end }}
      {{- end }}
      clusters:
      {{- range $svc := .Values.tailnetServices.services }}
      {{- range $port := $svc.ports }}
        - name: {{ $svc.name }}-{{ $port.name }}
          type: LOGICAL_DNS
          connect_timeout: 5s
          dns_refresh_rate: 30s
          load_assignment:
            cluster_name: {{ $svc.name }}-{{ $port.name }}
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: {{ $svc.targetHost }}
                          port_value: {{ $port.targetPort | default $port.port }}
      {{- end }}
      {{- end }}
{{- end }}
